body{
	background-color: rgb(0, 50, 100);
	margin: 0;
	padding: 0 0 0 0;
	height: 100%;
}

h1{/*used in header*/
	bottom: 15px;
	font: 24px helvetica;
	color: white;
	font-weight: bold;
	width: 1150px;
	margin: 0 auto;
}

h2{/*used in footer*/
	font: 12px helvetica;
	color: white;
	width: 1150px;
	margin: 0 auto;
}

#Header{
	/*margin and padding*/
	padding: 10px 20px 10px 20px;
	position: relative;

	/*font*/
	font: 24px helvetica;
	color: white;
	font-weight: bold;

	/*background*/
	background-color: 	#025593;
	background: white; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#444, #000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#444, #000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#444, #000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#444, #111); /* Standard syntax */
}

#SearchBox{
	display: inline-block;
	margin-top: 15px;
	float: right;
}

#Options{
	/*margin and padding*/
	margin: 30px 15px 15px 15px;
}

#Label{
	padding: 5px;
	margin: 0;

	/*font*/
	font: 21px helvetica;
	color: white;
	font-weight: bold;

	/*border*/
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgba(200,200,200,.5);

	/*background*/
	background-color: rgba(0,0,0,.5);
}

#OptionPanel{
	padding: 5px;
	margin: 0 5px;
	height: 150px;
	position: relative;

	/*font*/
	font: 18px helvetica;
	color: white;

	/*border*/
	border-width: 1px;
	border-top-width: 0px;
	border-style: solid;
	border-color: rgba(15,15,15,.5);

	/*background*/
	background-color: #eee;
}

#ConversionPanel{
		display: inline-block;
		position: relative;
		padding: 5px;
		border-color: #ccc;
		border-style: solid;
		border-width: 2px;
}

/*for custom controls
#PlayPauseButton{
	background-image: 	url(images/play.png);
	background-repeat:	no-repeat;
	background-color:	transparent;
	height:			66px;
	width:			182px;
	border:			none;
	text-indent:		-999em;
}*/

#Content{
	margin: 0 auto;
	width: 950px;
}

#Wrapper{
	margin: 30px 15px 15px 15px;
	background-color: #eee;
}

#VideoPlayer{		/*use jquery to set size of videoplayer and its contents*/
	position: relative;
	padding: 10px 10px 10px 10px;
}

#Video{
	margin: 0 auto;
	width: 640px;
	height: 360px;
	display: block;
	background-color: #000;
}

#Controls{
	position: absolute;
	bottom: 10px;
	left: 265px;
	width: 640px;
	padding: 0 0 0 0;
	margin:0 auto;
	background-color: rgba(0,0,0,.5);
}

#Footer{
	position: relative;
	bottom: 0;
	margin: 0 150px 0 150px;

	/*border*/
	border-top-style: solid;
	border-top-width: 1px;
	border-color: #ccc;
	
}