<serverConfig>
    <defaultInputPath></defaultInputPath>
    <defaultOutputPath></defaultOutputPath>
    <defaultBatchScript>..\bash\testbash.sh</defaultBatchScript>
	<addProfiledDelay>True</addProfiledDelay>
	<profiledRequests>True</profiledRequests>
    <openWebRequests>False</openWebRequests>
	<run_mode>sim</run_mode>
    <profileRequestsBenhmark>test2000r_180000_10000_3000_s1.txt</profileRequestsBenhmark>

    <mapping_mechanism>ShortestQueueFirst</mapping_mechanism>	
    <batchqueuesortpolicy>Deadline</batchqueuesortpolicy> <!-- Priority or Deadline or Urgency or None -->
    <localqueuelengthperCR>4</localqueuelengthperCR>
    <c_const_for_utilitybased>0.2</c_const_for_utilitybased>

    <taskmerge>True</taskmerge>
    <consideratemerge>True</consideratemerge>
    <mergeOverwriteQueuePolicy>False</mergeOverwriteQueuePolicy>
    <overwriteQueuePolicyHeuristic>linear</overwriteQueuePolicyHeuristic>

    <enableTimeEstimator>True</enableTimeEstimator>
    <timeEstimatorMode>profiled</timeEstimatorMode>
    <schedulerPolicy>minmin</schedulerPolicy>
    <enableCaching>false</enableCaching>
    <enableCRscaling>true</enableCRscaling>
	<dataUpdateInterval>1000</dataUpdateInterval>
    <CRscalingIntervalTick>30</CRscalingIntervalTick>
    <enableCRscalingoutofInterval>false</enableCRscalingoutofInterval>
    <lowscalingThreshold>0.1</lowscalingThreshold>
    <highscalingThreshold>0.5</highscalingThreshold>
    <minCR>8</minCR>
    <maxCR>8</maxCR>
	
    <path>./</path>
<useEC2>False</useEC2>
<file_mode>file</file_mode> <!-- <file_mode>S3</file_mode> -->

<repository>repositoryvideos/videoData</repository>
<!--- 
<repository>repositoryvideos/realVideo</repository>
-->

	
    <CR>sim,chameleonVM,localhost,5060,true</CR>
    <CR>sim,chameleonVM,localhost,5061,true</CR>
    <CR>sim,chameleonVM,localhost,5062,true</CR>
    <CR>sim,chameleonVM,localhost,5063,true</CR>
    <CR>sim,chameleonVM,localhost,5064,true</CR>
    <CR>sim,chameleonVM,localhost,5065,true</CR>
    <CR>sim,chameleonVM,localhost,5066,true</CR>
    <CR>sim,chameleonVM,localhost,5067,true</CR>
    <CR>sim,g2.2xlarge,localhost,5068,true</CR>
	
	<CR>simNWcache,fixedBandwidth,localhost,100,false</CR>  <!-- unit = Mbps-->

	<CR>EC2,t2.micro,i-019a067d161b807d4,5061,true</CR> <!-- small -->
	<CR>EC2,t2.micro,i-0c1ae764e54ca5fb8,5061,true</CR> <!-- small -->
	<CR>EC2,t2.micro,i-03b97c46afcb2c749,5061,true</CR> <!-- medium -->
	<CR>EC2,t2.micro,i-0cd0f305e1dc8aeb5,5061,true</CR> <!-- medium -->
    <CR>EC2,t2.micro,i-0bce5f77aa6e0f3a2,5061,true</CR> <!-- micro -->
	
<!---->
</serverConfig>


